$base-color: #c6538c;
$links-color: #1F1F59;
$dark-blue: #09092D;
$blue: #1717AB;
$aqua: #12E2DC;
$light-gray: #EBEBF1;
$light-gray-hover: #e3e3e3;
$gray: #6A717C;
$light-brown: #96918c;
$input-border: #B0B0CD;
$liliac: #CCCCFF;
$light-purple: #5959EB;
$purple: #3C3CE0;
$red: #F22F31;
$red-hover: #e83c3f;
$green: #00831D;

.movies_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.movie-box {
  width: 300px;
  height: 400px;
  cursor: pointer;
}

.movie-box img {
  height: 100%;
  width: 100%;
}